.content.collection-card-header {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid, rgba(0, 0, 0, 0.125);
}

.field {
  padding: 1.25rem;
}

#form-input-control-notesBundle,
#form-input-control-accountNumber,
#form-input-control-caseNotes,
#form-input-control-outcomesHistory {
  background: #ecf0f1;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #7b8a8b;
  display: block;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 1;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s;
  width: 100%;
}

.ui.centered.fluid.raised.card {
  padding: 15px;
}

.ui.form .field > label {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
